<!DOCTYPE html>
<html>
<head>

<title>Login</title>


</head>



<body>




<form action="/login" method="post">

    <div>    
        <h4>Email</h4>
        <input type="email" name="email" id="email"> </div>

    <div>

        <h4>password</h4>
        <input type="password" name="password" id="password">  </div>

    <div>    <button type="submit">Login</button> </div>

</form>









</body>
</html>

